.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/tsconfig.json
**/.vscode-test.*
**/.vscode-test/**
**/.vscode test/**
out/test/**
test/**
src/**
**/*.ts
**/tsconfig.json
**/tsconfig.*.json
contributing.md
.travis.yml
.github/**
.idea/**
.devcontainer/**
.yarn/**
.pnp.*
yarn.lock
package-lock.json
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,semver,vscode-uri}/**
